@use "../../styles/variables";
@use "../../styles/breakpoints";

.container {
    gap: 1.6rem;
    display: flex;
    cursor: pointer;
    padding: 1.2rem;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 100%;
    align-items: center;
    color: var(--color);
    border-radius: 1.2rem;
    font-family: "Rubik-Medium";
    background: var(--question-item-bg);
    box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);

    &__text {
        gap: 1.6rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            width: 3.2rem;
            height: 3.2rem;
        }
    }

    &--selected {
        outline: 3px solid variables.$purple;

        .img {
            color: variables.$pure-white !important;
            background-color: variables.$purple !important;
        }
    }

    &--correct {
        outline: 3px solid variables.$green;

        .img {
            color: variables.$pure-white !important;
            background-color: variables.$green !important;
        }
    }

    &--incorrect {
        outline: 3px solid variables.$red;

        .img {
            color: variables.$pure-white !important;
            background-color: variables.$red !important;
        }
    }

    &:not(.container--readonly):hover {
        .img {
            color: variables.$purple;
            background-color: #F6E7FF;
        }
    }

    >img,
    .img {
        width: 4rem;
        height: 4rem;
    }

    .img {
        min-width: 4rem;
        font-size: 1.8rem;
        line-height: 100%;
        text-align: center;
        display: inline-block;
        border-radius: 0.4rem;
        font-family: "Rubik-Medium";
        color: variables.$grey-navy;
        background: variables.$light-grey;
        padding: 1.1rem 1.3rem 1.1rem 1.4rem;
    }
}

@include breakpoints.mq(tablet) {
    .container {
        gap: 3.2rem;
        font-size: 2.8rem;
        border-radius: 2.4rem;

        &__text {
            gap: 3.2rem;

            img {
                width: 4rem;
                height: 4rem;
            }
        }

        >img,
        .img {
            width: 5.6rem;
            height: 5.6rem;
        }

        .img {
            min-width: 5.6rem;
            font-size: 2.8rem;
            border-radius: 0.8rem;
        }
    }
}

@include breakpoints.mq(desktop) {
    .container {
        padding: 2rem;
    }
}