@use "./styles/breakpoints";

.container {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./assets/images/pattern-background-mobile-light.svg');
}

@include breakpoints.mq(tablet) {
    .container {
        background-image: url('./assets/images/pattern-background-tablet-light.svg');
    }
}

@include breakpoints.mq(desktop) {
    .container {
        background-image: url('./assets/images/pattern-background-desktop-light.svg');
    }
}