@use "./styles/breakpoints";

.container {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: var(--mobile-bg);
}

@include breakpoints.mq(tablet) {
    .container {
        background-image: var(--tablet-bg);
    }
}

@include breakpoints.mq(desktop) {
    .container {
        background-image: var(--desktop-bg);
    }
}