@use "./styles/fonts";
@use "./styles/reset";
@use "./styles/variables";
@use "./styles/breakpoints";

body {
    font-family: "Rubik-Regular";
}

.container {
    padding: 3.2rem 2.4rem 0 2.4rem;

    &--mb8 {
        margin-bottom: 0.8rem;
    }
}

.main__title {
    font-size: 4rem;
    font-weight: 300;
    line-height: 100%;
    color: variables.$dark-navy;

    &--500 {
        font-family: "Rubik-Medium";
    }
}

.italic__title {
    font-size: 1.4rem;
    line-height: 150%;
    color: variables.$grey-navy;
    font-family: "Rubik-Italic";
}

.error__container {
    gap: 0.8rem;
    display: flex;
    font-size: 1.8rem;
    line-height: 100%;
    margin-top: 1.2rem;
    align-items: center;
    color: variables.$red;
    justify-content: center;

    img {
        width: 3.2rem;
        height: 3.2rem;
    }
}

.button {
    border: none;
    height: 5.6rem;
    padding: 1.2rem;
    cursor: pointer;
    font-size: 1.8rem;
    line-height: 100%;
    margin-top: 1.2rem;
    border-radius: 1.2rem;
    font-family: "Rubik-Medium";
    color: variables.$pure-white;
    background: variables.$purple;
    box-shadow: 0px 16px 40px 0px rgba(143, 160, 193, 0.14);

    &:hover,
    &:disabled {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), variables.$purple;
    }
}

@include breakpoints.mq(tablet) {
    .container {
        padding: 0 6.4rem 0 6.4rem;
    }

    .main__title {
        font-size: 6.4rem;
    }

    .italic__title {
        font-size: 2rem;
    }

    .button {
        height: 9.2rem;
        padding: 3.2rem;
        margin-top: 3.2rem;
        font-size: 2.8rem;
        border-radius: 2.4rem;
    }

    .error__container {
        font-size: 2.4rem;
        margin-top: 3.2rem;
    
        img {
            width: 4rem;
            height: 4rem;
        }
    }
}

@include breakpoints.mq(desktop) {
    .container {
        padding: 0 14rem 0 14rem;
    }
}